*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
    margin: auto 0;
    /*border: 1px solid red;*/
}

.clearfix: after {
    content: ' ';
    display: table;
    clear: both;
}

/* Element Targets */

nav {
  width: 180px;
  height: 100vh;
  position: fixed;
}

ul {
  list-style: none;
}

header,
article,
footer {
  margin-left: 180px;
  margin-right: 5%;
}

header {
  background: #3E3544;
  height: 400px;
}

h2 {
  width: 37%;
  position: absolute;
  color: white;
  margin-right: 13%;
  padding: 60px;
  font-weight: 200;
  top: 10%;
  left: 57%;
}


form {
  position: absolute;
  float: right;
  top: 30%;
  left: 57%;
}

label {
  display: block;
}

input {
  display: block;
}

article {
  border-bottom: 1px solid black;
  border-width: 50%;
  column-count: 2;
  height: 350px;
  margin-left: 180px;
}
input{
  position: relative;
}
footer {
    background-color: #3E3544;
    bottom: 0px;
    height: 150px;
    padding-top: 50px;
    position: fixed;
    width: 85%;
}

footer img {
  height: 40px;
}

/* Class Targets */

.nav-dog {
  width: 150px;
}

.header-dog {
  border: 10px solid #9A969C;
  border-radius: 50%;
  display: inline-block;
  height: 375px;
  margin-left: 7%;
  position: absolute;
}

.how-to-dog-img,
.what-is-dogs-img,
.facts-from-dog-img {
  border: 5px solid #9A969C;
  border-radius: 50%;
  margin-left: 4%;
  margin-top: 3%;
  width: 30%;
}

.how-button,
.what-button,
.facts-button {
    background-color: #3E3544;
    border-radius:5px;
    color:white;
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-left: 70%;
    margin-top: 20px;
    padding: 20px;
    width: 30%;
}

.how-to-dog-ipsum {
    font-size: 16px;
    font-weight: 300;
    height: 200px;
    margin-right: 10%;
    padding-top: 100px;
    text-align: left;
}

.social-media-imgs {
  float: right;
  width: 20%;
}

.top-icons,
.bottom-icons {
  display:inline-block;
  padding: 20px;
}

