* {
    margin: auto;
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    height: 100vh;
    width: 100%;
}

nav {
    background-color: #75e2e6;
    height: 15%;
}

.nav-dog {
    height: 50px;
}

header {
    text-align: center;
    height: 30%;
    background-image: url(images/park.jpg)
}

main {
    height: 45%;
}

/* .dog-info-section {
    margin: auto;
} */

article {
    display: inline-block;
    width: 33%;
    height: 100%;
}

footer {
    background-color: #048eaa;
    height: 10%;
}

.dog-links {
    display: inline-block;
    margin: auto;
    text-align: right;
}

li {
    /* text-align: right; */
}